.categories-section{
    padding: 100px 0;
    background: #fff;
}
.categories-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories-list-item{
    list-style: none;
}
.categories-list-item-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    background-color: #f6f7f9;
    border-radius: 50%;
    background-image: radial-gradient(95.56% 95.56% at 50% 50%,#fff 0,#bddeff 100%);
}
.categories-list-item h4 a{
    display: block;
    color: #000;
    font-size: 24px;
    margin: 15px 0;
    text-decoration: none;
}